<div id="list_navigation_sidebar">

	<div id="listless_logo_main">
		<span>li</span>
	</div>

	<div id="users_lists_container">
		<%= render 'lists'  %>
	</div>

	<div id="new_list_button_container">
		<a href="#" data-reveal-id="add_list"><%= fa_icon "plus" %></a>
	</div>

</div>

<div id="main_content">
	<div id="new_task_form">
	<%= render 'new_task_form' %>
	</div>
	<div id="task_list">
		<%= render 'shared/task_list' %>
	</div>
	<div class="reveal_button">Show Completed Tasks</div>
	<div class="completed_task_list" %>
		<%= render 'shared/completed_task_list' %>
	</div>
</div>

<%= render 'new_list_form' %>
<div id="edit_list_form_container">
	<%= render 'edit_list_form' %>
</div>

